body {
	font-family: helvetica;
	background: rgba(165, 42, 58, 0.089);
}

/* base styles */
a {
	text-decoration: none;
	color: #fff;
}

/* site styles */
header{
	background: rgba(165, 42, 42, 0.973);
	height: 50px;
}

header section {
	width: 960px;
	margin: 0 auto;
}

header img {
	float: left;
	height: 50px;
	margin-right: 50px;
	margin-top: 15px;
	position: relative;
	animation: mymove 1s 1;
	}

/* Standard syntax */
@keyframes mymove {
	from {left: -50px;}
	to {left: 50px;}
}

header nav li	{
	display: inline-block;
	margin-right: 30px;
	margin-top: 25px;
}

main {
	width: 960px;
	margin: 20px auto;
	position: relative;
}

.right p {
	position: absolute;
	bottom: 8px;
	top: 80px;
	left: 16px;
	font-family: cursive;
}

footer {
	text-align-last: center;
	background: rgba(165, 42, 42, 0.973);
	height: 25px;
	font-family: helvetica;
	margin-top: 535px;
	text-decoration: none;
	color: #fff;
}

#cookieStats {
    margin-block-start: 50px;
	font-family: 'Sofia';
	font-size: 14px;
    width: 400px;
  }

#cookieStats tr:nth-child(even){background-color: #f2f2f2;}

#cookieStats tr:hover {
    background-color: #ddd; 
    color: black;
}

#cookieStats th {
	padding-top: 12px;
	padding-bottom: 12px;
	border: solid 1px black;
	text-align: center;
	background-color: rgba(214, 69, 69, 0.973);
	color: white;
	font-weight: bolder;
  }
  
  #cookieStats tfoot {   
	  padding-top: 15px;
	  padding-bottom: 15px;
	  border: dashed #f2f2f2;
	  text-align: center;
	  background-color: rgba(214, 69, 69, 0.973);
	  color: white;
	  font-weight: bolder;
  }
  
  #cookieStats td {
	  padding: 20px;
	  border: solid 1px black;
	  overflow: auto;
  }
  